.document-card.thumbnail {
  padding: 0;

  .caption { padding: 13px; }
  img { border-radius: 4px 4px 0 0; }
}

@media only screen and (min-width: 992px) {
  .document-card .intro {
    min-height: 14rem;
  }
}
